<% include partials/header %>
    <div class="container notes">
        <% notes.forEach(function(note){ %>
            <div class="note">
                <div class="title">
                    <a href="/notes/<%= note._id %>"><%= note.title %></a>
                </div>
                <div class="body">
                    <div class="content">
                        <%= note.body %>
                    </div>
                    <div class="buttons">
                        <a href="/notes/<%= note._id %>/edit" class="edit-btn">EDIT</a>
                        <a href="/notes/<%= note._id %>/">DETAILS</a>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
<% include partials/footer %>