<% include partials/header %>
    <div class="container notes">
        <% notes.forEach(function(note){ %>
            <div class="note">
                <div class="title">
                    <a href="/notes/<%= note._id %>/edit"><%= note.title %></a>
                </div>
                <div class="body">
                    <div class="content">
                        <%= note.body %>
                    </div>
                    <div class="buttons">
                        <form action="/notes/<%= note._id %>?_method=DELETE" method="POST">
                            <a href="/notes/<%= note._id %>/edit" class="edit-btn">EDIT</a>
                            <button>DELETE</button>
                        </form>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
<% include partials/footer %>